/* Typography imported from Google Fonts */
@import url('https://fonts.googleapis.com/css?family=Lato|Nunito+Sans');
body{
    padding: 0;
    margin: 0;
    font-family: 'Nunito Sans', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Lato', serif;
}

.title-style{
  padding: 1em 2em;
  text-align: center;
}

p, a {
  font-family: 'Nunito Sans', sans-serif;
}

/* Generic styles */
html {
  scroll-behavior: smooth;
}

a {
  background-color: #8e2f76;
  text-decoration: none;
  color: white;
  border-radius: .25rem;
  text-align: center;
  display: inline-block;
  transition: all .3s;
}

a:hover {
  opacity: .85;
}

.hero {
    /* Photo by mnm.all on Unsplash */
    background: url('https://images.unsplash.com/photo-1516321497487-e288fb19713f?q=80&w=1470&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D') center;
    background-size: cover;
    padding: 4rem 2rem;
  
    /* Grid styles */
    display: grid;
    align-items:center;
    grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
    /* grid-template-columns: repeat(auto-fit, minmax(240px, 1fr)); */
  }

  .hero > * {
    color: white;
  }

  .hero > h1 {
    font-size: 4rem;
    padding-bottom: 1rem;
  }
  
  .hero > article > p {
    font-size: 1.5rem;
    font-weight: 200;
  }
  
  .hero > article > a {
    padding: 1rem;
    margin-top: .75rem;
  }

  .principles > ul {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    grid-gap: 1.5rem;
    margin: 0;
    padding: 2rem;
    list-style-type: none;
  }

  .principles > ul > li {
    border: 1px solid #E2E2E2;
    border-radius: .5rem;
  }
  
  .principles > ul > li > figure {
    max-height: 366px;
    overflow: hidden;
    border-top-left-radius: .5rem;
    border-top-right-radius: .5rem;
    position: relative;
    margin: 0;
    padding: 0;
  }
  
  .principles > ul > li > figure > img {
    width: 100%;
  }
  
  .principles > ul > li > figure > figcaption {
    position: absolute;
    bottom: 0;
    background-color: rgba(0,0,0,.7);
    width: 100%;
  }
  
  .principles > ul > li > figure > figcaption > h3 {
    color: white;
    padding: .1rem 1.5rem;
    font-size: 1.25rem;
  }
  
  .principles > ul > li > p {
    font-size: 1rem;
    line-height: 1.5;
    padding: 0.5rem 1.5rem;
    color: #666666;
  }
  
  .principles > ul > li > a {
    padding: .5rem 1rem;
    margin: 0 1.5rem 1.5rem 1.5rem;
  }
  
  /* footer */
  footer {
    background-color: #333;
    padding: .75rem;
    color: white;
    text-align: center;
    font-size: .75rem;
  }

  footer a {
    background-color: transparent;
    color: #f77cd8;
    text-decoration: underline;
    position: relative;
  }


  .container1{
    padding: 1em 2em;
    display: grid;
    grid-gap: 2em;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));

    .container-title{
      text-align: center;
      color: #333;
      grid-column:1/-1;
    }
    .quote{
      border: 2px dashed #94339983;
      background: white;
      padding: 1em;
      border-radius: 0.5em;
      box-shadow: 0px 0px 13px #9433995c;
    }
    .quote:hover{
      border: 2px dashed #943399;
      box-shadow: 0px 0px 20px #94339980;
    }

    p{
      margin-top: 10px;
    }
    span{
      font-weight: bold;
    }
  }

    .container2{
      padding: 1em 2em;
      display: grid;
      grid-gap: 2em;
      grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  
      .container-title{
        text-align: center;
        color: #333;
        grid-column:1/-1;
      }
  
      .quote{
        border: 2px dashed #94339983;
        background: white;
        padding: 1em;
        border-radius: 0.5em;
        box-shadow: 0px 0px 13px #9433995c;
      }
      .quote:hover{
        border: 2px dashed #943399;
        box-shadow: 0px 0px 20px #94339980;
      }
  
      p{
        margin-top: 10px;
      }
      span{
        font-weight: bold;
      }

  }

  .containerPix{
    padding: 1em 2em;
    display: grid;
    grid-gap: 0.5em;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));

    img{
      width: 100%;
    }
}

.containerPix2{
  padding: 1em 2em;
  display: grid;
  grid-gap: 0.5em;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));

  img{
    width: 100%;
  }
}
